CompileFlags:
  Add: [
    -std=c++17,
    -DDEBUG,
    -g,
    -Wl,
    -Wall,
    -Wextra,
    -Wno-missing-prototypes,
    -I.,
    -I..,
    -I/usr/local/include,
    -L/usr/local/lib,
    -lpthread
    ]
 
